@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ilan{
background-image: url(fss.jpg);
background-position: center;
background-size: cover;
background-attachment: fixed;
height: 100vh;
text-align: center;
font-family: "Madimi One", sans-serif;
padding-top: 200px;
}
.title{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Anta" sans-serif;
    color: bisque;
}
.deri{
    margin-bottom: 2%;
    font-family: "Madimi One", sans-serif;

}
.zeher{
    font-family: "Madimi One", sans-serif;
    margin-bottom: 2%;
    margin-top: 30px;
}
.ilan > button{
    margin: center;
    margin-top: 20px;
    background-color: rgb(22, 63, 74);
}
.serpt{
    text-decoration-thickness:2px;
    color: #680d2b;
}
.arx{
    background-color: bisque;
    text-align: center;
    padding: 50px 40px;
}
.text{
    margin-left:15%;
    margin-right:15%;
color: blanchedalmond;
}
h2{
    margin: 0;
    padding: 0;
    text-align: center;
    color: beige;     
}
.open{
    color: aliceblue;  
}
